html, body {
  margin: 0;
  height: 100%;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__img {
  width: 70px;
  height: 70px;
  margin-right: 20px;
}
.header__score {
  color: #F7B84B;
  background: linear-gradient(180deg, #feeb8b , #fcbd02);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 36px;
  font-weight: 800;
}

.circle {
  position: relative; 
}
.circle__img {
  width: 200px;
  border-radius: 50%;
  box-shadow: 0px 0px 15px 0px rgb(247, 184, 75, 1) ;

  transition: transform 0.2s ease;
  --tiltX: 0deg;
  --tiltY: 0deg;
  transform: rotateX(var(--tiltX)) rotateY(var(--tiltY));
}
.plusone {
  position: absolute ;
  font-family: Inter;
  text-shadow: 0px 0px 16px 0px rgb(247, 184, 75, 1);
  font-size: 24px;
  font-weight: 800;
  background: linear-gradient(180deg, #eec06f , #1E1D1A);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  pointer-events: none;
  user-select: none;
  animation: move-up 3s forwards;
}

@keyframes move-up {
  0% {
    opacity: 1;
    transform: translateY(0); 
  }
  100% {
    opacity: 0.3;
    transform: translateY(-80px); 
  }
}
